# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
env/
ENV/

# PyInstaller
*.manifest
*.spec

# Nuitka
*.build/
*.dist/
*.onefile-build/
*.onefile-dist/
*.onefile-spec/

# Other
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.bak
*.orig
